@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cinzel&family=Fauna+One&family=Instrument+Serif&family=Josefin+Sans&family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}